In [1]:
import numpy as np
import pandas as pd
import matplotlib as plt
import quandl
df = quandl.get('WIKI/GOOGL')
df.head()
import math
from sklearn import preprocessing,cross_validation,svm
from sklearn.linear_model import LinearRegression

In [2]:
df = df[['Adj. Open','Adj. High','Adj. Low','Adj. Close','Adj. Volume']]
df.head()

            Adj. Open  Adj. High   Adj. Low  Adj. Close  Adj. Volume
Date
2004-08-19  50.159839  52.191109  48.128568   50.322842   44659000.0
2004-08-20  50.661387  54.708881  50.405597   54.322689   22834300.0
2004-08-23  55.551482  56.915693  54.693835   54.869377   18256100.0
2004-08-24  55.792225  55.972783  51.945350   52.597363   15247300.0
2004-08-25  52.542193  54.167209  52.100830   53.164113    9188600.0

In [3]:
df['High_Close']= (df['Adj. High']-df['Adj. Close'])/df['Adj. Close']*100.0
df['Open_Close']= (df['Adj. Open']-df['Adj. Close'])/df['Adj. Open']*100.0
df=df[['Adj. Close','High_Close','Open_Close','Adj. Volume']]
df.head()

            Adj. Close  High_Close  Open_Close  Adj. Volume
Date
2004-08-19   50.322842    3.712563   -0.324968   44659000.0
2004-08-20   54.322689    0.710922   -7.227007   22834300.0
2004-08-23   54.869377    3.729433    1.227880   18256100.0
2004-08-24   52.597363    6.417469    5.726357   15247300.0
2004-08-25   53.164113    1.886792   -1.183658    9188600.0

In [4]:
#variable
forecast_col='Adj. Close'
#Fill null value as -9999
df.fillna(-9999,inplace=True)

In [5]:
#Using only 10% of data
forecast_out=int(math.ceil(0.01*len(df)))
forecast_out

#Shifing labels col ot future values
df['label']= df[forecast_col].shift(-forecast_out)
df.dropna(inplace=True)
df.head()

            Adj. Close  High_Close  Open_Close  Adj. Volume      label
Date
2004-08-19   50.322842    3.712563   -0.324968   44659000.0  67.739104
2004-08-20   54.322689    0.710922   -7.227007   22834300.0  69.399229
2004-08-23   54.869377    3.729433    1.227880   18256100.0  68.752232
2004-08-24   52.597363    6.417469    5.726357   15247300.0  69.639972
2004-08-25   53.164113    1.886792   -1.183658    9188600.0  69.078238

In [10]:
x= np.array(df.drop(['label'],1))
y = np.array(df['label'])
x= preprocessing.scale(x)

/usr/lib/python2.7/dist-packages/sklearn/preprocessing/data.py:167: UserWarning: Numerical issues were encountered when centering the data and might not be solved. Dataset may contain too large values. You may need to prescale your features.
  warnings.warn("Numerical issues were encountered "

In [11]:

print(len(x),len(y))

(3036, 3036)

In [15]:
x_train,x_test,y_train,y_test=cross_validation.train_test_split(x,y,test_size=0.2)
#Linear Regression Classifier
clf = LinearRegression()
#Support vector regression classifier
#clf =svm.SVR()
clf.fit(x_train,y_train)
clf.score(x_test,y_test)
accuracy = clf.score(x_test,y_test)
print(accuracy)

0.967646239894