In [14]:
import numpy as np
import pandas as pd
import matplotlib as plt
import quandl
df = quandl.get('WIKI/GOOGL')
df.head()
import math

In [7]:
df = df[['Adj. Open','Adj. High','Adj. Low','Adj. Close','Adj. Volume']]
df.head()

            Adj. Open  Adj. High   Adj. Low  Adj. Close  Adj. Volume
Date
2004-08-19  50.159839  52.191109  48.128568   50.322842     44659000
2004-08-20  50.661387  54.708881  50.405597   54.322689     22834300
2004-08-23  55.551482  56.915693  54.693835   54.869377     18256100
2004-08-24  55.792225  55.972783  51.945350   52.597363     15247300
2004-08-25  52.542193  54.167209  52.100830   53.164113      9188600

In [12]:
df['High_Close']= (df['Adj. High']-df['Adj. Close'])/df['Adj. Close']*100.0
df['Daily_Change']= (df['Adj. Open']-df['Adj. Close'])/df['Adj. Open']*100.0
df=df[['Adj. Close','High_Close','Daily_Change','Adj. Volume']]
df.head()

            Adj. Close  High_Close  Daily_Change  Adj. Volume
Date
2004-08-19   50.322842    3.712563     -0.324968     44659000
2004-08-20   54.322689    0.710922     -7.227007     22834300
2004-08-23   54.869377    3.729433      1.227880     18256100
2004-08-24   52.597363    6.417469      5.726357     15247300
2004-08-25   53.164113    1.886792     -1.183658      9188600

In [13]:
forecast_col='Adj. Close'
df.fillna(-99999,inplace=True)

/home/aaditya/anaconda2/lib/python2.7/site-packages/pandas/core/frame.py:2705: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  **kwargs)

In [ ]:
forcast_out=int(math.ceil(0.1*len(df)))
df['label']= df['forecast']